:root {
    /* 最小备注高度 */
    --corn-log-empty-comment-min-height: 1.45em;
    /* 日志条目的 margin-bottom */
    --corn-log-margin-bottom: 0px;

    /* 日志条目 日期展示器 的 时间文字大小 */
    --corn-log-time-font-size: 12px;
    /* 日志条目 日期展示器 的 时间最小宽度 */
    --corn-log-time-date-min-width: 50px;

    /* 日期分隔符的前间距 */
    --corn-list-date-gap: 0px;
}
