/* 指南: https://vant.pro/vant/#/zh-CN/config-provider */
:root:root {
    /* vant 默认的 font-size 太小了, 这里用豆包每个加了 3px */
    --van-font-size-xs: 13px !important;
    --van-font-size-sm: 15px !important;
    --van-font-size-md: 17px !important;
    --van-font-size-lg: 19px !important;

    --van-primary-color: #ff8917;
    --van-primary-color-2: color-mix(in srgb, var(--van-primary-color) 11%, white);

    --van-dropdown-menu-shadow: none;

    --van-dropdown-menu-background: transparent;

    --van-overlay-background: rgba(0, 0, 0, 0.1);
}